-- Add role column to users table if it doesn't exist
ALTER TABLE users ADD COLUMN IF NOT EXISTS role VARCHAR(50) DEFAULT 'user';

-- Create index on role for faster queries
CREATE INDEX IF NOT EXISTS idx_users_role ON users(role);

-- Set the user as super admin
UPDATE users SET role = 'super_admin' WHERE email = 'franklintowett@gmail.com';

-- Verify the update
SELECT id, email, full_name, role FROM users WHERE email = 'franklintowett@gmail.com';
